<div class="menu-container">
  <button class="button-menu">
    <a [routerLink]="['/appprivate/crud']">Crud</a>
  </button>
  <button class="button-menu">
    <a
      [routerLink]="['/appprivate/galeria']"
      routerLinkActive="router-link-active"
      >Galeria</a
    >
  </button>
  <button class="button-menu">
    <a
      [routerLink]="['/appprivate/profile']"
      routerLinkActive="router-link-active"
      >Profile</a
    >
  </button>
  <button class="button-menu">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">Logout</a>
  </button>
</div>
