<div class="login-container">
  <form>
    <div>
      <label class="label">Usuario: </label>
      <input
        name="username"
        [(ngModel)]="username"
        required
        email
        #inputUsername="ngModel"
      />
      <div *ngIf="inputUsername.invalid && inputUsername.touched">
        Usuario erróneo o vacio
      </div>
    </div>
    <br />

    <div>
      <label class="label">Password: </label>
      <input
        name="password"
        [(ngModel)]="password"
        required
        #inputPassword="ngModel"
      />
      <div *ngIf="inputPassword.invalid && inputPassword.touched">
        El password es obligatorio
      </div>
    </div>
    <br />
    <button (click)="loginPage()">Login</button>
  </form>
</div>
