img {
  width: 20%;
}

h1 {
  font-size: 32px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  padding: 15px;
  margin-right: 20px;
}

.footer-img {
  width: 20%;
}
