body {
    padding-top: 20px;
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 60px;
    font-family: Helvetica;
    display: flex;
    color: rgb(39, 39, 39);
    justify-content: center;
}

.container {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.target-container {
    padding: 3px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    border: 1px solid rgb(169, 187, 192);
    border-radius: 3px;
    background-color: rgb(211, 224, 230);
    width: 360px;
}

input {
    font-size: 18px;
    padding: 6px;
}

.button {
    color: beige;
    font-size: 18px;
    padding: 6px;
    background-color: rgb(155, 161, 185);
    cursor: pointer;
    margin: 20px;
} 

.button-back {
    color: beige;
    font-size: 18px;
    padding: 6px;
    background-color: rgb(155, 161, 185);
    cursor: pointer;
    margin-top: 20px;
} 

.selector {
    margin-bottom: 40px;
}
.member-list{
    padding: 10px;

}
Button {
    cursor: pointer;
}

img {
    width: 6rem;
}
